export MAC_HOST=TX473.macincloud.com
export MAC_IP=216.39.74.173
export MAC_USER=user944308
export MAC_PASSWORD=your_password_here
export MAC_RDP_PORT=6000
export MAC_SSH_PORT=22

export APP_STORE_CONNECT_KEY_ID=your_key_id_here
export APP_STORE_CONNECT_ISSUER_ID=your_issuer_id_here
export APP_STORE_CONNECT_KEY_BASE64=your_base64_key_here
export MATCH_PASSWORD=your_match_password_here
export MATCH_GIT_BASIC_AUTHORIZATION=your_base64_user_token_here
